<div id="encode4325436">
    <div class="container">
        <div class="row">
            <div class="col-8 d-none d-md-block">
                <ul>
                    <li><a href="./index.html">صفحه نخست</a></li>
                    <li><a href="./about.html">درباره ما</a></li>
                    <li><a href="./contact.html">تماس با ما</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center text-md-end" id="top-encode43vfbb65gtabfb">
                <span>تلفن مشاوره و فروش: 09187504331</span>
            </div>
        </div>
    </div>
</div>