  <!-- Sidebar navigation-->
<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Home" aria-expanded="false">
                <i class="fa fa-chart-line"></i>
                <span class="hide-menu">داشبورد</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Category/Index" aria-expanded="false">
                <i class="ti-layout-grid2-alt"></i>
                <span class="hide-menu">دسته بندی</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                <i class="fab fa-product-hunt"></i>
                <span class="hide-menu">محصولات </span>
            </a>
            <ul aria-expanded="false" class="collapse  first-level">
                <li class="sidebar-item">
                    <a href="/Admin/Product/Index" class="sidebar-link">
                        <i class="ti-view-list"></i>
                        <span class="hide-menu"> لیست محصولات </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/Admin/Product/CreateProduct" class="sidebar-link">
                        <i class="fa fa-plus"></i>
                        <span class="hide-menu"> محصول جدید </span>
                    </a>
                </li>
              
            </ul>
          
        </li>
        
        <li class="sidebar-item">
            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                <i class="fa fa-home"></i>
                <span class="hide-menu">تنظیمات صفحه اصلی</span>
            </a>
            <ul aria-expanded="false" class="collapse  first-level">
                <li class="sidebar-item">
                    <a href="/Admin/Slider/Index" class="sidebar-link">
                        <i class="fa fa-film"></i>
                        <span class="hide-menu"> اسلایدر و بنر تبلیغاتی </span>
                    </a>
                </li>
               @* <li class="sidebar-item">
                    <a href="/Admin/Product/CreateProduct" class="sidebar-link">
                        <i class="fa fa-plus"></i>
                        <span class="hide-menu"> محصول جدید </span>
                    </a>
                </li>
*@
            </ul>

        </li>
    </ul>
</nav>
<!-- End Sidebar navigation -->